@import "./_reset";

.question-block {
  border: 1px solid #fafafa;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 20px;
}

.question-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.question-header-text {
  font-size: 18px;
}

.toggle-button {
  background-color: transparent;
  border: none;
  color: #fafafa;
  cursor: pointer;
  font-size: 24px;
}

.answer {
  display: none;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

.active-answer {
  display: block;
}
